services:
  db:
    restart: unless-stopped
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./server/sql/:/docker-entrypoint-initdb.d/
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  server:
    restart: unless-stopped
    build: ./server
    environment:
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: mydb
      NODE_ENV: production
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "5000:5000"
    volumes:
      - uploads_data:/app/uploads

  client:
    restart: unless-stopped
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server

volumes:
  db_data:
  uploads_data:
