.custom-popup {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  transform: translate(-50%, -100%);
  width: 220px;
  color: black;
}